body {
    font-family: Arial, sans-serif;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: rgb(55, 0, 255);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
}

.option {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}

#nextBtn {
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5%;
}

